<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>levana.sh</string>
	<key>CFBundleIconFile</key>
	<string>levana.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleTypeExtensions</key>
	<array>
		<string>lua</string>
		<string>LUA</string>
	</array>
</dict>
</plist>
